/* === GLOBALES === */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
  background-color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 12px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  font-size: 13px;
  pointer-events: none;
  opacity: 0.95;
}

/* === BARCHART === */
#bar-chart-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.legend {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  cursor: pointer;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: opacity 0.3s ease;
}

.legend-item span {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 3px;
}

/* === LINECHART === */
#line-chart-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
}

/* === STACKED CHART === */
#stacked-chart {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#stacked-selector {
  text-align: center;
  margin-bottom: 1rem;
}

#stacked-selector select {
  margin: 0 0.5rem;
  padding: 4px 8px;
  font-size: 14px;
}


/* === LINECHART-CATEGORIA === */

#linechart-categoria {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
  text-align: center;
}

#linechart-svg-container {
  width: 100%;
  height: 400px;
  position: relative;
}


/* ################################ */
#sunburst-chart svg {
  max-width: 900px;
  margin: auto;
  display: block;
}